// ----------------------------------------------------------------
// 1) Define Variable in Sass....
$color: red;

.dev {
  // Use Of Variables
  color: $color;
}

// ----------------------------------------------------------------

// 2) Nested Element
nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  li {
    border: 1px solid black;
  }
  a {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    background-color: red;
    color: green;
  }
}

// ----------------------------------------------------------------
// 3) Nested Properties
.myfont {
  font: {
    family: "Helvetica Neue";
    size: 100px;
    weight: 800;
  }
}
// ----------------------------------------------------------------
// 4)Extend(inheritence) in sass

.btn-basic {
  border: 2px solid black;
  padding: 20px 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  // background-color: red;
  color: white;
}
.btn-1 {
  @extend .btn-basic;
  background-color: blue;
}
.btn-2 {
  @extend .btn-basic;
  background-color: red;
}
.btn-3 {
  @extend .btn-basic;
  background-color: green;
}
.btn-4 {
  @extend .btn-basic;
  background-color: yellow;
}
// ----------------------------------------------------------------
